 <div class="row mt-4">
            <!--comienza tarjeta-->
            <% for(let i=0;i<publicaciones.length;i++){ %>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card border border-3 border-dark mb-3 tarjetas card<%=publicaciones[i].ID_CAR_UPE%>" style="max-width: 18rem;">
                    <div class="card-header text-center">
                        <img src="uploads/<%= fotos[i]%>" width="60" height="60" height="80" alt="">
                        <p class="h4 text-light text-capitalize"><%= nombres[i]%> <%= apellidos[i]%> </p>
                    </div>
                    <div class="card-body text-primary">
                        <p class="h3 text-light"><%= publicaciones[i].TITULO %></p>
                        <div class="text-light " id="cuerpo" ><%= publicaciones[i].CUERPO %>
                        </div>
                        <a href="/publicacion?id=<%= publicaciones[i].ID_PUBLICACION %>" class="btn btn-info btn-sm mt-1 ">Ver publicación Completa</a>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
            <!--fin de tarjeta-->