<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head')%>
<body>
  <div class="container mt-5">
    <%-include('partials/navbar')%>
    <div class="card  mb-5 bg-body rounded mt-2">
      <div class="card-header">
        Nueva publicacion
      </div>
      <div class="card-body">
        <form method="POST" action="crearpublicacion">
          <div class="row">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Titulo (profesion)</label>
              <input type="text" class="form-control <%- errors.titulo ? 'is-invalid' : '' %>" id="titulo"  value="<%= oldData.titulo %>" name="titulo" placeholder="Ej: programador web" required>
              <div class="invalid-feedback">
                <%- errors.titulo %>
              </div>
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Empresa</label>
              <input type="text" class="form-control <%- errors.empresa ? 'is-invalid' : '' %>" value="<%= oldData.empresa %>" id="empresa" name="empresa" required>
              <div class="invalid-feedback">
                <%- errors.empresa %>
              </div>
            </div>
          </div><!--fin row titulo y empresa-->
          <div class="row mt-2">
            <!--<div class="col-md-6">
              <label for="inputPassword4" class="form-label">Nombre de la carrera que estudiaste</label>
              <input type="text" class="form-control" id="inputEmpresa">
            </div>-->
            <div class="col-md-6">
              <label for="grado_carreras" class="form-label">A que carrera de la UPE va orientada la publicacion</label>
              <select class="form-select <%- errors.carrera ? 'is-invalid' : '' %>" aria-label="Default select example" name="carrera"  id="carrera" required>
                <option value=""></option>
                <% for(let i=0;i<carreras.length;i++) { %>
                <option value="<%=carreras[i].ID_CAR_UPE%>" <%- oldData.carrera==carreras[i].ID_CAR_UPE ? 'selected'  : '' %>><%=carreras[i].NOMBRE%></option>
                <% } %>
              </select>
              <div class="invalid-feedback">
                <%- errors.carrera %>
              </div>
            </div>
          </div><!--fin row nombre carrera etc-->
          <div class="row mt-2">
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Cuerpo de la publicacion</label>
              <textarea type="text" class="form-control <%- errors.carrera ? 'is-invalid' : '' %>"  id="cuerpo" name="cuerpo" required><%= oldData.cuerpo %></textarea>
              <div class="invalid-feedback">
                <%- errors.cuerpo %>
              </div>
            </div>
          </div><!--fin text area-->
          
          <div class="row mt-2">
            <div class="col-md-6">
              <label for="estado" class="form-label">Desea publicar o guardar en borrador?</label>
              <select name="estado" id="estado" class="form-select <%- errors.estado ? 'is-invalid' : '' %>" required>
                <option value=""></option>
                <option value="publicada" <%- oldData.estado=='publicada' ? 'selected'  : '' %>>Publicar</option>
                <option value="borrador" <%- oldData.estado=='borrador' ? 'selected'  : '' %>>Guardar en borrador</option>
              </select>
              <div class="invalid-feedback">
                <%- errors.estado %>
              </div>
            </div>
          </div>
      </div><!--fin card-body-->
      <div class="card-footer">
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Publicar</button>
          </div>
        </div>
      </div>
    </div><!--fin card general-->
  </form>
  </div><!--fin container-->

</body>

</html>