<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <div class="container">
        <%- include('partials/navbar') %>
        <div class="row gutters-sm mt-5">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="uploads/<%= persona[0].FOTO%>" alt="" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4><%= persona[0].NOMBRE %> <%= persona[0].APELLIDO %></h4>
                                <p class="text-secondary mb-1"></p>
                                <%if(locals.userLogged[0].ID_ROL==2){%>
                                    <p class="text-muted font-size-sm"><%= persona[0].OFICIO %> </p>
                                <%}%>
                                <%if(locals.userLogged[0].ID_ROL==3){%>
                                    <p class="text-muted font-size-sm"> Alumno</p>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nombre completo</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= persona[0].NOMBRE%> <%= persona[0].APELLIDO %> 
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Fecha nacimiento</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= fecha %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Datos Academicos</h6>
                            </div>
                            <div class="col-sm-3">
                                <h6>Carrera</h6>
                            </div>
                            <div class="col-sm-3">
                                <h6>Universidad</h6>
                            </div>
                        </div>
                        <% for(let i=0;i<estudios.length;i++){%>
                            <div class="row">
                                <div class="col-sm-4 offset-sm-3 text-secondary">
                                   <%= estudios[i].NOMBRE_CARRERA %>
                                </div>
                                <div class="col-sm-4  text-secondary">
                                    <%= estudios[i].UNIVERSIDAD %>
                                 </div>
                            </div>
                        <%}%>                     
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " target="__blank"
                                    href="/editarperfil">Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>