<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="container mt-5">
    <%- include('partials/navbar') %>
    <div class="card text-center mt-4 shadow mb-3">
      <div class="card-header">
        <div class="col-md-4 col-xs-12 offset-md-4">
          <img src="uploads/<%= persona[0].FOTO%> " alt="" class="rounded ms-5" height="100px"> <button
            class="btn btn-success btn-sm ms-2">Seguir</button>
        </div>
        <div class="row">
          <div class="col-md-4 col-xs-12 offset-md-4">
            <p class="h4"><%= persona[0].NOMBRE%> <%= persona[0].APELLIDO %></p>
          </div>
          <div class="col-md-1 ">

          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <p class="h4"><%= publicacion[0].TITULO%> en <%= publicacion[0].EMPRESA%></p>
          </div>
        </div>
      </div>
      <!--fin cardHeader-->
      <div class="card-body">
        <div class="row">
          <div class="col-md-7 offset-md-3">
            <p class=""><%= publicacion[0].CUERPO%>
            </p>
          </div>
        </div>
      </div>
      <!--fin cardBody-->
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-md-2 offset-md-10">
            <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"> <span class="text-secondary">Me gusta!</span> </i>
          </div>
        </div>
        <div class="d-flex row ">
          <div class="col-md-8 ">
            <div class="d-flex flex-column comment-section">
              <div class="bg-white p-2 border border-secondary rounded">
                <div class="d-flex flex-row user-info"><img class="rounded-circle" src="img/ruth.jpg" width="40">
                  <div class="d-flex flex-column justify-content-start ml-2"><span
                      class="d-block font-weight-bold name">Ruth Iascas</span></div>
                </div>
                <div class="mt-2 bg-white rounded">
                  <p class="comment-text ">Hola muy interesante tu experiencia, gracias por publicarla, una consulta
                    ¿usted se encarga de charlar con los clientes? Un saludo.</p>
                </div>
                <div class="row mt-2">
                  <div class="col-md-2">
                    <button class="btn btn-primary btn-sm">Responder</button>
                  </div>

                </div>
              </div>
            <%if(locals.userLogged){%>
              <div class="bg-light p-2">
                <div class="d-flex flex-row align-items-start "><img class="rounded-circle me-1" src="uploads/<%=locals.userLogged[0].FOTO%>"
                    width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Enviar
                    comentario</button> <button class="btn btn-outline-primary btn-sm ml-1 shadow-none"
                    type="button">Cancel</button></div>
              </div>
            <%}%>
            </div>
          </div>
        </div>
      </div>
      <!--fin card footer-->

    </div>
    <!--fin container-->
</body> 
</body>

</html>